.TodoEditor .editor_wrapper {
    width: 100%;
    display: flex;
    gap: 10px;
}

.TodoEditor input {
    flex: 1; /* 1로 세팅하면 브라우저에 따라 요소의 너비가 자동으로 바뀐다. */
    box-sizing: border-box;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 5px;
    padding: 15px;
}

.TodoEditor input:focus {
    outline: none;
    border: 1px solid #1f93ff;
}

.TodoEditor button {
    cursor: pointer; /* 마우스 커서가 올라가면 포인터(손가락) 모양으로 바뀌도록 한다 */
    width: 80px;
    border: none;
    background-color: #1f93ff;
    color: white;
    border-radius: 5px;
}